.newadmin-title{
    font-weight: 600;
    text-align: center;
}

.editor{
    border: solid 1px rgb(139, 139, 139);
    padding: 15px;
    border-radius: 5px;
}

.publish-button{
    margin-top: 15px;
    text-align: right;
}

/*form styles*/
.editor .alert > p + p {
    margin-top: 0px;
}
.editor .alert > p, .alert > ul {
    margin-bottom: 0;
    font-size: 13px;
    margin-top: 0px;
}